:root {
  --neometric: "NeometricAltBold";
  --neometricregular: "NeometricRegular";
  --neometricItalic: "NeometricItalic";
  --lightblue: #2596be;
  --white: #ffffff;
}
/* Header */
html {
  scroll-behavior: smooth;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 99;
}
.header__box {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 120px;
  height: 120px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__first-wrp {
  display: flex;
  align-items: center;
}
.header__slogan {
  padding-top: 20px;
  /* max-width: 130px; */
  font-size: 14px;
  font-weight: 600;
  color: var(--lightblue);
  font-family: var(--neometricItalic);
  
}
.header__main a {
  padding-left: 15px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.header__main a {
  font-size: 17px;
  color: #2596be;
}
.header__info {
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
}
.fa-phone {
  color: #2596be;
  font-size: 25px;
}
.header__info-box p {
  font-weight: 600;
  font-size: 14px;
  padding-top: 5px;
  color: var(--lightblue);
}
.header__info-box p:hover {
  color: #2596be;
  transition: all 0.3s;
  cursor: default;
}
.ds-fl-cen-jus-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.limitation {
  max-width: 1300px;
  margin: 90px auto 0 auto;
}

.fa-location-dot {
  font-size: 24px;
  color: #2596be;
}

.fa-phone,
.fa-envelope {
  font-size: 20px;
  color: #2596be;
}
.fa-instagram {
  font-size: 20px;
  color: #2596be;
}
/* Modal */
.error .form__input {
  border-color: red;
}
.error-label {
  color: red;
  font-size: 12px;
}
.d__none {
  display: none;
}
