@font-face {
  font-family: "NeometricAltBold";
  src: url("../Assets/fonts/NeometricAltBold.otf");
}
@font-face {
  font-family: "NeometricRegular";
  src: url("../Assets/fonts/Neometric-Regular.otf");
}
@font-face {
  font-family: "NeometricItalic";
  src: url("../Assets/fonts/PlayfairDisplay-Italic.ttf");
}
